body, html {
  max-width: 100%;
  overflow:hidden;
  margin: 0px;
}

.App {
  background-color: #1b1d1e;
  background-repeat: no-repeat;
  background-size: contain;
}

#Name {
  max-width:100%;
  animation-name: nameLoadTransition;
  animation-duration: 3s;
}

@keyframes nameLoadTransition {
  from {
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}