body, html {
  max-width: 100%;
  overflow:hidden;
  margin: 0px;
}

.App {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#Name{
  max-width:100%;
  position:relative;
  animation-name: nameLoadTransition;
  animation-duration: 3s;
}

#linkedIn {
  position: absolute;
  animation-name: linkedInLoadTransition;
  animation-duration: 5s;
}

@keyframes nameLoadTransition {
  from {
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}

@keyframes linkedInLoadTransition {
  from {
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}